 /** file: style.css **/

 body {
     font-family: 'Dosis', sans-serif;
     @import url('https://fonts.googleapis.com/css?family=Dosis');

 }


 p {
     position: static;
 }

 h2 {
     font-size: 20px;
     text-align: center;
     position: static;

 }

 #video-container {

     max-height: 700px;
     max-width: 100%;
     
 }

 #trappe-video {
     max-height: 700px;
     position: absolute;
     width: 100%;


 }

 #overskrift {
     position: relative;
     color: white;
     font-family: Bernard MT Condensed;
     font-size: 15px;
     z-index: 2;
     letter-spacing: 3px;
     margin-left: 26%;


 }

 #underskrift {
     width: 150px;
     height: 4%;
     z-index: 1;
     position: relative;
     padding-top: 20%;
     padding-left: 30%;

 }


 #afsnit {
     margin-top: 80px;
     position: static;
     padding-left: 20%;
     padding-right: 20%
 }

 #etafsnit {
     position: static;
     margin-top: 15%;
     margin-bottom: 15%;
     margin: 0 20% 0 20%;
     max-height: 20%;
 }

 #video {
     position: relative;
     width: 100%;
     height: auto;
     z-index: -1;
     margin-bottom: 5%;
     padding: 5% 0 5% 0;
 }

 #musicNiels {
     /** navigation musik **/
     background-color: #f1f3f4;
     padding-top: 10px;

 }

 /** prøve **/
#videosList {
 max-width: 600px; 
  overflow: hidden;
}

.video {
  background-image: url('https://img.youtube.com/vi/nZcejtAwxz4/maxresdefault.jpg');
  height: 330px;
  width: 600px;
  margin-bottom: 50px;
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}

 /** slut prøve **/

 #skullMusic {
     max-width: 100%;
     background-color: #f1f3f4;
     text-align: center;
     margin-top: 50px;
     margin-bottom: 50px;
 }


 #skull {
     max-width: 100%;
 }

 #niels {

     width: 100%;
     height: 50vw;
     margin: 0 auto;
     overflow: hidden;
     position: static;
     margin: 10% 0 10% 0;

 }

 #niels {
     /**Ken Burns effect **/
     width: 100%;
     animation: move 20s ease;
     /* Add infinite to loop. */
     -ms-animation: move 10s ease;
     -webkit-animation: move 10s ease;
     -0-animation: move 10s ease;
     -moz-animation: move 10s ease;
     position: static;
 }

 @-webkit-keyframes move {
     0% {
         -webkit-transform-origin: bottom left;
         -moz-transform-origin: bottom left;
         -ms-transform-origin: bottom left;
         -o-transform-origin: bottom left;
         transform-origin: bottom left;
         transform: scale(1.0);
         -webkit-transform: scale(1.0);
         /* Safari and Chrome */
         -moz-transform: scale(1.0);
         /* Firefox */
     }
     100% {
         transform: scale(1.2);
         -webkit-transform: scale(1.2);
         /* Safari and Chrome */
         -moz-transform: scale(1.2);
         /* Firefox */
     }
 }


 #guitar {
     max-width: 100%;
     min-height: 100%;
     display: flex;
     flex-direction: row;
     justify-content: center;

     position: static;
 }


 .vid-info {
     position: relative;
     z-index: 1;
     top: 0;
     right: 0;

     background: rgba(189, 176, 174);
     color: #fff;
     padding: 1rem;
     font-family: Avenir, Helvetica, sans-serif;
     text-align: center;
     max-width: 100%;


 }

 .vid-info a {
     display: block;
     color: #fff;
     text-decoration: none;
     background: rgba(0, 0, 0, 0.5);
     transition: .6s background;
     border-bottom: none;
     margin: 1rem auto;
 }


 #noder {
     max-width: 100%;

 }


 #underline {
     display: block;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
     margin-left: auto;
     margin-right: auto;
     border-style: inset;
     border-width: 1px;
     border-bottom-color: black;

 }

 #underskrift-sort {
     width: 130px;
 }

 #mail {
     text-decoration: none;
     color: black;


 }

 #tel {
     text-decoration: none;
     color: black;

 }

 footer {
     font-size: 12px;
     margin: 0 15px 0;
 }

 @media only screen and (min-width:400px) {

     #afsnit {
         margin-top: 110px;
         position: static;
     }

  #overskrift {
     position: relative;
     color: white;
     font-family: Bernard MT Condensed;
     font-size: 15px;
     z-index: 2;
     letter-spacing: 3px;
     margin-left: 26%;


 }

 #underskrift {
     width: 160px;
     height: 4%;
     z-index: 1;
     position: relative;
     padding-top: 20%;
     padding-left: 30%;

 }
 }

 @media only screen and (min-width:450px) {

     #afsnit {
         margin-top: 140px;
         position: static;

     }

   #overskrift {
     position: relative;
     color: white;
     font-family: Bernard MT Condensed;
     font-size: 23px;
     z-index: 2;
     letter-spacing: 3px;
     margin-left: 26%;


 }

 #underskrift {
     width: 180px;
     height: 4%;
     z-index: 1;
     position: relative;
     padding-top: 20%;
     padding-left: 30%;

 }
 }


 @media only screen and (min-width: 600px) {


     #afsnit {
         margin-top: 170px;
         position: static;

     }


 #overskrift {
     position: relative;
     color: white;
     font-family: Bernard MT Condensed;
     font-size: 26px;
     z-index: 2;
     letter-spacing: 3px;
     margin-left: 26%;


 }

 #underskrift {
     width: 200px;
     height: 4%;
     z-index: 1;
     position: relative;
     padding-top: 20%;
     padding-left: 30%;

 }
 }


 @media only screen and (min-width: 700px) {
     #afsnit {
         margin-top: 200px;
         position: static;

     }
 #overskrift {
     position: relative;
     color: white;
     font-family: Bernard MT Condensed;
     font-size: 30px;
     z-index: 2;
     letter-spacing: 3px;
     margin-left: 26%;


 }

 #underskrift {
     width: 250px;
     height: 4%;
     z-index: 1;
     position: relative;
     padding-top: 20%;
     padding-left: 30%;

 }


 }

 @media only screen and (min-width: 800px) {

     #afsnit {
         margin-top: 210px;
         position: static;

     }
      
       #overskrift {
         position: relative;
         color: white;
         font-family: Bernard MT Condensed;
         font-size: 36px;
         z-index: 2;
         letter-spacing: 3px;
         margin-left: 30%;
        


     }

     #underskrift {
         width: 280px;
         height: 8%;
         z-index: 1;
         position: relative;
         padding-top: 20%;
         padding-left: 30%;

     }
 }


 @media only screen and (min-width: 900px) {

     #afsnit {
         margin-top:220px;
         position: static;


     }
 }
 @media only screen and (min-width: 1000px) {
     #afsnit {
         margin-top:300px;
         position: static;
         
     }
}